%p.result
  Your URL has been shortened!
%form.form{onsubmit: "return copyLink();"}
  %input.control#url{name: "short_url",
             type: "text",
             value: @short_url}
  %button#copy.control Copy
%p
  Or just go there:
  %br
  %a{href: @short_url}= @short_url
